---
import Publication from "./Publication.astro";
import { getCollection } from "astro:content";
const publications = (await getCollection("publication")).sort((a, b) => {
  const ay = a.data.year;
  const by = b.data.year;
  if (ay === by) {
    if (a.data.booktitle === b.data.booktitle && a.data.journal === b.data.journal) {
      return 0;
    } else if (a.data.booktitle < b.data.booktitle || a.data.journal < b.data.journal) {
      return -1;
    } else {
      return 1;
    }
  } else {
    return ay < by ? 1 : -1;
  }
});
const grouped = [];
publications.map((pub) => {
  if (grouped.length === 0 || grouped[grouped.length - 1][0] !== pub.data.year) {
    grouped.push([pub.data.year, [pub]]);
  } else {
    grouped[grouped.length - 1][1].push(pub);
  }
});
---
<div className="overflow-x-auto">
  <table className="table">
    <tbody>
    {grouped.map(([year, pubs]) => {
      return (
        <tr>
          <th class="pr-6">{year}</th>
          <td>
            <ul class="space-y-4">
              {pubs.map((pub) => <li><Publication {...pub.data}/></li>)}
            </ul>
          </td>
        </tr>
      );
      })
    }
    </tbody>
  </table>
</div>

